<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Todos ✅</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div class="container main">
    <header>
      <div>
        <h1 class="blah" style="float : left;">todos</h1>
        <form th:action="@{/logout}" method="POST" style="float : right;">
          <button type="submit" class="btn btn-warning">logout</button>
        </form>
      </div>
    </header>
    <ul>
      <form class="form-horizontal" th:action="@{/add}" th:object="${newItem}" method="POST">
        <div class="input-group">
          <input type="text" class="form-control todo-input" th:field="*{name}" placeholder="new task goes here" />
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary">make</button>
          </div>
        </div>
      </form>
    </ul>
    <form th:action="@{/update}" th:object="${items}" method="POST" id="todo-list">
      <ul th:each="todo, i : *{todoList}">
        <button type="button submit" class="btn btn-secondary"
          th:text="${todo.complete ? 'Complete ✅' : 'Incomplete ⭕️'}" th:value="${todo.id}" name="updateId" />
        <label th:text="${todo.name}" th:style="${todo.complete ? 'text-decoration: line-through;' : ''}">task
          name</label>
        <button type="button submit" class="btn btn-danger" th:value="${todo.id}" name="removeId">x</button>
      </ul>
    </form>
  </div>

  <footer>
    <p>Hey there! This site is currently under construction. Check back in a bit and I'll have something more
      interesting waiting for you.</p>
  </footer>

  <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/main.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.2.0/bootstrap.min.js"></script>

</body>

</html>