<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todos ✅</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/main.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>
  <div class="main">
    <header>
      <h1 class="blah">todos</h1>
    </header>
    
    <ul>
        <input type="checkbox"/>
        <label>item 1</label>
    </ul>
    <ul>
        <input type="checkbox"/>
        <label>item 2</label>
    </ul>
  </div>

  <footer>
      <p>Hey there! This site is currently under construction. Check back in a bit and I'll have something more interesting waiting for you.</p>
  </footer>
</body>
</html>